.button-container {
  display: flex;
  justify-content: flex-start;
  /* z-index: 1000000; */
  margin-top:20%;
  margin-right: 10%;
}

.button-container button {
  margin-right: 10px;
}

.component-container {
  /* margin-top: 20px; */
  z-index: -100;
}
.alll{
  /* width: 130%; */
  margin: 0%;
}