.singleservicediv {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
  width: 30%;
  background-color: #acddeb;
/* margin-top: 30%; */
}
  body{
    direction: rtl;
    z-index: -1;

  }

.singleservicediv > div {
  margin-bottom: 10px;
  font-size: 18px;
  text-align: center;
}

.singleservicediv > div:last-child {
  margin-bottom: 0;
}

/* Add any additional CSS styles here */
  
  .details{
margin-top:40%;
/* margin-bottom: -10%; */
  }
  .addmeet{
margin-top: -30%;
  }
  .oneage{
height: 50%;
width: 50%;
/* position: absolute; */
margin-right: -40%;

  }
  .singleservicediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 20px auto; */
    padding: 20px;
    background-color: rgb(75, 122, 138);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    width: 120%;
  }
  
  .singleservicediv > div {
    /* margin-bottom: 10px; */
    font-size: 18px;
    text-align: center;
  }
  
  .singleservicediv > div:last-child {
    margin-bottom: 0;
  }
  
  .allimage {
    margin-top: 6%;
    width: 33%;
    /* margin-top: 60%; */
    opacity: 70%;
    height:15vw;
    position: relative;
  }
  .allimage:hover {
    /* margin-top: 60%; */
    opacity: 50%;
    height:15vw;
    position: relative;
  }
  
  /* Add any additional CSS styles here */
  
.image{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
