/* CSS for MeetingList component */
/* .MeetingList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body{
    margin-top:10%;
  }
  
  .MeetingList-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .MeetingList-meetings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
   */

  .SingleMeeting {
    width: 30%;
    border: solid 2px black;
    /* height: 1000px; */
    height: 400px;
    margin-bottom: 2%;

  }
  
  .SingleMeeting-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(67, 163, 163);
  }
  
  .SingleMeeting-description {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .SingleMeeting-price {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .SingleMeeting-date {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .SingleMeeting-clientName {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .SingleMeeting-contactInfo {
    display: flex;
    flex-direction: column;
  }
  
  .SingleMeeting-contactInfo h4 {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .red{
    background-color: rgba(255, 0, 0, 0.459);
  }
  .orange{
    background-color:rgba(255, 166, 0, 0.362);
  }
  .green{
    background-color: rgba(26, 255, 0, 0.347);
  }
  